---
import Header from "../components/Header.astro";
---

<Header />
<head>
  <title>Wikistats - Home</title>
</head>
<div class="bg-[#212121] text-center min-h-screen p-5 text-white">
  <h1 class="text-4xl font-bold">
    Welcome to <span class="text-[#FF0000]">Wiki</span><span
      class="text-[#66FF00]">stats</span
    >!
  </h1>
  <p class="text-xl mt-2">
    This is the place to find information about your favorite statistic
    creators. <br>
    This Website Is Just Like Wikipedia but especially made for medium to 
    <br>
    large sized statistics YouTubers for you to see their informations!
  </p>
</div>
